@(bango:Int,id:String,subjectName:String,message:String,subjectForm: Form[form.SubjectRequestForm])

@import helper._


<title>オンライン小テストシステム</title>
<h1>科目編集</h1>
<form action="@routes.SubjectController.updateExec" method="POST">

@message

@if(subjectForm != null) {
    @for(error <- subjectForm("id").errors) {
        <p class="error">@error.message</p>
    }
    @for(error <- subjectForm("subject_name").errors) {
        <p class="error">@error.message</p>
    }
}
<br>
  <label for = "subjectId">科目ID</label>
  <input type="text" name = "id" id = "id" value="@id">
  <label for = "subject_name">科目名</label>
  <input type="text" name = "subject_name" id = "subject_name" value="@subjectName">
  <br>
  <input  type="hidden" name="bango" id="bango" value="@bango">
  <button type="submit" name = "subject" id ="subject">
    登録する
  </button>
</form>
<form action="@routes.SubjectController.subjectList" method="POST">
  <button type="submit" name="subjectList">科目一覧に戻る</button>
</form>

