@(subjectList:List[models.Subject])

@import helper._


<title>オンライン小テストシステム</title>
<h1>科目一覧</h1>

<!-- TODO 登録が完了しました。 -->



  <form action="@routes.SubjectController.create" method="POST">
    <button type="submit" name="create">新規作成</button>
  </form>


@if(subjectList != null){
  <table class ="subjectList" border= 1>
    <tr>

      <th>番号</th>
      <th>科目ID</th>
      <th>科目</th>
    </tr>
    @for(Subject<- subjectList){
    <tr>
      <th>@Subject.getBango()</th()>
      <th>@Subject.getId()</th>
      <th>@Subject.getSubjectName()</th>
      <th>
        <form action="@routes.SubjectController.update" method="POST">
          <input  type="hidden" name="bango" id="bango" value="@Subject.getBango">
          <input  type="hidden" name="id" id="id" value="@Subject.getId">
          <input  type="hidden" name="subject_name" id="subject_name" value="@Subject.getSubjectName">
          <button type="submit" name="update">編集</button>
        </form>
      </th>
      <th>
        <form action="@routes.SubjectController.delete" method="POST">
          <input  type="hidden" name="id" id="id" value="@Subject.getId">
          <input  type="hidden" name="subject_name" id="subject_name" value="@Subject.getSubjectName">
          <button type="submit" name="delete">削除</button>
        </form>
      </th>
    </tr>
    }
  </table>

   <!-- TODO 教員メニューに戻る
   教員メニューをログインの最後に作成したから直で飛べない？-->

   <form action="@routes.SubjectController.subjectList" method="POST">
     <button type="submit" name="subjectList">教員メニューに戻る</button>
   </form>

}
<!-- TODO elseを使うとエラーが出てしまう？
else{
<h2>科目が登録されていません</h2>
}
-->

